/* The class and id are used for naming and using it for selecting the items in the css*/
/* exmaple*/
.redd{
    color: red ;
}
#Redd{
    color: rebeccapurple;   
}
#Nav{
    background-color:rebeccapurple ;    
    color: white;
}
a{
    color: white;
}
#NextLine{
    background-color: black;
}

body{
    color: black;
}
